<!DOCTYPE html>
<html>
    <head>
        <title>Rock, Paper, Scissors</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Enter your guesses:</h1>

                    <form action="/results" method="post">
                        <div class="form-group">
                            <label for='player1'>Player 1, enter your move</label>
                            <input type="password" name="player1" id='player1' class="form-control">

                            <p>

                            <label for='player2'>Player 2, enter your move</label>
                            <input type="password" name="player2" id='player2' class='form-control'>
                            </p>


                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>

            </div>

        </div>

    </body>
</html>




<!-- <p>
    Player 1, what's your move?
    <select id="player1" name="player1" style="width: 80px;">
        <option value="">Select...</option>
        <option value="rock">..............Rock</option>
        <option value="paper">..............Paper</option>
        <option value="scissors">..............Scissors</option>

    </select>
</p>

<p>
    Player 2, what's your move?
    <select id="player2" name="player2" style="width: 80px;">
        <option value="">Select...</option>
        <option value="rock">.............Rock</option>
        <option value="paper">.............Paper</option>
        <option value="scissors">.............Scissors</option>

    </select>
</p> -->
