<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Winner</title>
    </head>
    <body>
        <h1>And the winner is:</h1>
        <p>
            {{ RPS_results }}
        </p>
    </body>
</html>
